$pc: #dca953;
$sc: #5b5d61;
$lightC: #f2f2f2; 
$white: #ffffff;
$black: #000000;
$textColor: #2c2c2b;
$twitter: #1dcaff;
$fb: #3B5998;
$footer-bg: #131313;
$footer-color: #838383;
$footerC: #5d5d5d;
$navCol: #aaacb5;
$fdColor: #c4c4cd;
$fb: #3b5998;
$in: #0E76A8;
$wh: #00E777;
$ins: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$youtube: #FF0000;