<div class="mainSidebar">
    <h3><strong>PRO Service</strong></h3>
    <ul>
        <li class="@ViewBag.Visa"><a href="@Url.Action("Visa", "PROSubServices")">VISA</a></li>
    </ul>
    @RenderPage("~/Views/Sidebar/_RelatedPost.cshtml")
</div>

