@{
    ViewBag.Title = "Jobs in UAE | Business Setup Consultants in Dubai";
    ViewBag.PageTitle = "Jobs in UAE";
    ViewBag.Keyword = "jobs in uae, jobs in dubai, we are hiring, arabic auditor jobs in dubai, auditor jobs in dubai, aministrative specialist jobs in dubai, tele sales executive jobs in dubai, ";
    ViewBag.Description = "Career Guids: Multiple Fields; Auditor, Arabic Auditor, Accountant, Human Resource, Administrative Specialist, Business Development Executive, Tele Sales Executive, Executive and more";
}

<div class="row otherBanner aboutUs lgHeight">
    <div class="container">
        <div class="col-md-12">
            <div class="captionBanner">
                <h1 class="servicesH">@ViewBag.PageTitle</h1>
                <ul>
                    <li><a href="@Url.Action("Index", "Page")">Home</a> </li>
                    <li>Careers</li>
                </ul> 
            </div>
        </div> <!-- end of col-md-12 -->
    </div>
</div> <!-- end of row -->

<div class="row space section1 careers">
    <div class="container">
        <div class="col-md-12 open-positions">
            <ul>
                <li>
                    <div class="designation">
                        <span class="newJobs">We Are Hiring</span>
                        <h4><a href="#telesales">Telesales Executive</a> </h4>
                        <span class="designationType">Full Time</span>
                        <span class="designationType">Posted On: March 15, 2021</span>
                    </div>
                    <div class="location">
                        <p class="state">Dubai</p>
                        <p class="country">UAE</p>
                    </div>
                    <a href="#telesales" class="btn btnTheme" role="button">view and apply</a>
                </li>
                <li>
                    <div class="designation">
                        <span class="newJobs">We Are Hiring</span>
                        <h4><a href="#digitalmarketing">Digital Marketing Specialist</a> </h4>
                        <span class="designationType">Full Time</span>
                        <span class="designationType">Posted On: March 17, 2021</span>
                    </div>
                    <div class="location">
                        <p class="state">Dubai</p>
                        <p class="country">UAE</p>
                    </div>
                    <a href="#digitalmarketing" class="btn btnTheme" role="button">view and apply</a>
                </li>
                <li>
                    <div class="designation">
                        <span class="newJobs">We Are Hiring</span>
                        <h4><a href="#admn-spe">Admin Executive</a> </h4>
                        <span class="designationType">Full Time</span>
                        <span class="designationType">Posted On: March 22, 2021</span>
                    </div>
                    <div class="location">
                        <p class="state">Dubai</p>
                        <p class="country">UAE</p>
                    </div>
                    <a href="#admn-spe" class="btn btnTheme" role="button">view and apply</a>
                </li>
                <li>
                    <div class="designation">
                        <span class="closed">No Job Opening</span>
                        <h4><a href="#hr">Human Resources Executive (HR Executive)</a> </h4>
                        <span class="designationType">Full Time</span>
                    </div>
                    <div class="location">
                        <p class="state">Dubai</p>
                        <p class="country">UAE</p>
                    </div>
                    <a href="javascript:void(0)" class="btn btnTheme" disabled role="button">view and apply</a>
                </li>
                <li>
                    <div class="designation">
                        <span class="closed">No Job Opening</span>
                        <h4><a href="#OfficeBoy">Office Boy</a> </h4>
                        <span class="designationType">Full Time</span>
                    </div>
                    <div class="location">
                        <p class="state">Dubai</p>
                        <p class="country">UAE</p>
                    </div>
                    <a href="javascript:void(0)" class="btn btnTheme" disabled role="button">view and apply</a>
                </li>
                <li>
                    <div class="designation">
                        <span class="closed">No Job Opening</span>
                        <h4><a href="#ContentWriter">Content Writer</a> </h4>
                        <span class="designationType">Full Time</span>
                    </div>
                    <div class="location">
                        <p class="state">Dubai</p>
                        <p class="country">UAE</p>
                    </div>
                    <a href="javascript:void(0)" class="btn btnTheme" disabled role="button">view and apply</a>
                </li>
                <li>
                    <div class="designation">
                        <span class="closed">No Job Opening</span>
                        <h4><a href="#ItCoordinator">IT Coordinator</a> </h4>
                        <span class="designationType">Full Time</span>
                    </div>
                    <div class="location">
                        <p class="state">Dubai</p>
                        <p class="country">UAE</p>
                    </div>
                    <a href="javascript:void(0)" class="btn btnTheme" disabled role="button">view and apply</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row spaceJob careers" id="telesales">
    <div class="container">
        <div class="col-md-12">
            <h2><strong>Telesales Executive</strong></h2>
            <p><strong>We are looking for a Telesales Executive having Outbound Experience in Telesales from any industry.</strong></p>
            <p>Preferably a Female Kabayan (Filipino)</p>
        </div>
        <div class="col-md-12 jobDesc">
            <h4 class="subHeading"><strong>Qualifications:</strong></h4>
            <ul>
                <li>Should be young with pleasing personality</li>
                <li>Should have an excellent communication rapport building skills</li>
                <li>Should have a positive attitude and sunny disposition</li>
                <li>Should be a FRESHER in the UAE</li>
                <li>Should have a background in Sales, Telesales, BPO Industry, and Outbound calls in the PHILIPPINE</li>
                <li>Should be proficient in English</li>
            </ul>
            <h4 class="subHeading"><strong>Job Descriptions</strong></h4>
            <ul>
                <li>Closing sales deals over the phone and maintaining good customer relationships. </li>
                <li>Gathering data & generating leads. Capable to achieve the monthly target.</li>
                <li>Demonstrating eagerness to earn incentives.</li>
                <li>Entering and updating customer information in the database.</li>
                <li>Willing to go the “extra mile” to meet sales quota and facilitate future sales.</li>
                <li>Keeping the records of calls, sales, and noting useful information.</li>
                <li>Maintaining database by entering, verifying, and backing-up data.</li>
                <li>Manifesting excellent communication and presentation skills </li>
                <li>Having an excellent communication and interpersonal skills</li>
                <li>Exhibiting confidence in presenting the products over the phone and maintaining customer relationships</li>
                <li>Contacting potential or existing customers to inform them about the product or service using scripts</li>
                <li>Answering queries about the services of the company and/or about the company itself</li>
                <li>Asking questions to understand customer requirements and close sale.</li>
                <li>Handling grievances to preserve the company’s reputation</li>
            </ul>
            <h4 class="subHeading"><strong>Industry</strong></h4>
            <ul>
                <li>Management Consulting</li>
                <li>Financial Services</li>
                <li>Accounting</li>
            </ul>
            <br />
            <a href="mailto: careers@amcaauditing.com">
                <button class="btn btnTheme mr0">Apply for this position</button>
            </a>
            @*Send us your CV <strong class="linkingText"><a href="mailto: careers@amcaauditing.com">careers@amcaauditing.com</a></strong>*@
        </div>
    </div>
</div>

<div class="row spaceJob careers" id="digitalmarketing">
    <div class="container">
        <div class="col-md-12">
            <h2><strong>Digital Marketing Specialist</strong></h2>
            <p>We are searching for a talented Digital Marketing Specialist to join our team. Who will be responsible for growing revenue through digital media through Content writing and executing marketing campaigns.</p>
        </div>
        <div class="col-md-12 jobDesc">
            <h4 class="subHeading"><strong>Qualifications:</strong></h4>
            <ul>
                <li>Experience with SEO and SEM Strong written, verbal and marketing skills</li>
                <li>Should be a SEO friendly content writer</li>
                <li>Should have experience in inbound and outbound calls</li>
                <li>Educational qualification: Bachelor's degree or equivalent</li>
                <li>Minimum 1-2 years of experience required.</li>
            </ul>
            <h4 class="subHeading"><strong>Responsibilities</strong></h4>
            <ul>
                <li>Assist the team in the development of the overall digital marketing strategy</li>
                <li>Implement digital marketing activities across a broad range of digital marketing channels (SEO, SEM, Social Media, Email, Mobile, Display)</li>
                <li>Manage and maintain the company’s owned media including websites, mobile apps, and email/CRM software</li>
                <li>Manage the creation of relevant and engaging digital content for publishing onto various digital platforms</li>
                <li>Manage social media marketing campaigns</li>
                <li>Manage SEO campaigns</li>
                <li>Analyze digital marketing analytics reports and share insights with the team to develop optimization plans</li>
                <li>Stay abreast of emerging digital tools and platforms, digital marketing trends, new technologies, and share insights with the rest of the team</li>
                <li>Conduct research on market trends, brand’s audiences and competitors, and end-to-end consumer journey to drive engagements and conversions</li>
                <li>SEO friendly content writer</li>
                <li>Write clear marketing copy to promote our services</li>
                <li>Prepare well-structured drafts using Content Management Systems</li>
                <li>Perform proofreading and editing blog posts before publication</li>
                <li>Coordinate with marketing and design teams to illustrate articles</li>
                <li>Use SEO guidelines to increase web traffic</li>
                <li>Ensure all-around consistency (style, fonts, images and tone)</li>
                <li>Update website content as needed</li>
                <li>Evaluate analytics to adjust content as needed</li>
                <li>Conduct in-depth research on industry-related topics in order to develop original content.</li>
                <li>Develop content for blogs, articles, product descriptions, social media, and the company website</li>
                <li>Edit and polish existing content to improve readability</li>
                <li>Create compelling headlines and body copy that will capture the attention of the target audience</li>
                <li>Utilize the industry best practices and familiarity with the organization's mission to inspire ideas and content</li>
                <li>Develop related content for multiple platforms, such as websites, email marketing, product descriptions, videos, and blogs</li>
                <li>Communicate and cooperate with web publishers</li>
                <li>Ensure timely delivery of all materials</li>
            </ul>
            <br />
            <a href="mailto: careers@amcaauditing.com">
                <button class="btn btnTheme mr0">Apply for this position</button>
            </a>
            @*Send us your CV <strong class="linkingText"><a href="mailto: careers@amcaauditing.com">careers@amcaauditing.com</a></strong>*@
        </div>
    </div>
</div>
<div class="row spaceJob careers" id="admn-spe">
    <div class="container">
        <div class="col-md-12">
            <h2><strong>Admin Executive</strong></h2>
            <p><strong>We are looking for an Admin Executive</strong></p>
        </div>
        <div class="col-md-12 jobDesc">
            <h4 class="subHeading"><strong>Qualifications:</strong></h4>
            <ul>
                <li>Demonstrating an excellent IT Skills.</li>
                <li>Acquiring good communication skills (verbal & written) in English.</li>
                <li>Preferably Female under Spouse Visa.</li>
                <li>Bachelors degree qualification preferred</li>
            </ul>
            <h4 class="subHeading"><strong>Job Descriptions:</strong></h4>
            <ul>
                <li>Opening a file for clients</li>
                <li>Displaying knowledge about the different zones in the UAE.</li>
                <li>Arranging employee's conveyances for the client meeting and/or visit purposes.</li>
                <li>Demonstrating knowledge about FTA Portal and Registrations.</li>
                <li>Exemplifying knowledge about DMCC Portal</li>
                <li>Coordinating with the teams and the Accounts Department for payments.</li>
                <li>Arranging reports delivery.</li>
                <li>Attending to the calls and replying to the emails. </li>
                <li>Arranging meetings. </li>
                <li>Following up with the clients.</li>
                <li>Preparing quotations and sending it to the clients.</li>
                <li>Demonstrating knowledge in VAT Registration.</li>
                <li>Maintaining Master sheets/ Trackers</li>
                <li>Working under pressure.</li>
                <li>Displaying knowledge in documents controlling.</li>
                <li>Uploading reports on portal.</li>
                <li>Coordinating with the Office Boy.</li>
                <li>Updating the Company Portal.</li>
                <li>Reviewing and Tracking the Audit Files.</li>
                <li>Preparing the paper requirements as well as the auditor’s appointment letter. </li>
            </ul>
            <br />
            <a href="javascript:void(0)">
                <button class="btn btnTheme mr0">Apply for this position</button>
            </a>
        </div>
    </div>
</div>
<div class="row spaceJob careers" id="hr">
    <div class="container">
        <div class="col-md-12">
            <h2><strong>Human Resources Executive (HR Executive)</strong></h2>
            <p><strong>We are looking for a Human Resources Executive (HR Executive) having a previous experience in Accounting Firm.</strong></p>
            <p>Any Nationality (Female) with Pleasing Personality</p>
        </div>
        <div class="col-md-12 jobDesc">
            <h4 class="subHeading"><strong>Qualifications:</strong></h4>
            <ul>
                <li>Should have a Bachelor’s Degree in Human Resources, Business Administration, Finance, or related field</li>
                <li>Should have knowledge in HR transaction such as processing of visa, compensation and benefits, recruitment and other related HR functions.</li>
                <li>Should be proficient in English. Writing in Arabic is an advantage.</li>
                <li>Should be proficient in Microsoft Office</li>
                <li>Should be focused and attentive to details</li>
                <li>Should be attentive listener, understanding, empathetic, and personable</li>
            </ul>
            <h4 class="subHeading"><strong>Duties &amp; Responsibilities</strong></h4>
            <ul>
                <li>Responsible for overall quality system in HR department</li>
                <li>Understanding and executing staffing requisition, requirements and issues from all departments</li>
                <li>Drafting and updating various documents such as job descriptions, employee handbook, performance appraisal, forms, SOP, policies and other HR related documents.</li>
                <li>Screening the candidates by resume shortlisting, phone interview and personal interviews with coordination with the concerned departments </li>
                <li>Issuing Letter of Offer/Intent/Employment to the selected candidates</li>
                <li>Conducting orientation program and briefing to new employee</li>
                <li>Performing the visa applications and renewal of visas of the employees</li>
                <li>Taking care of the company's DMCC Portal</li>
                <li>Maintaining employee's leaves, medical and attendance record. Keeping track of employees’ attendance and absenteeism and reporting it to the Human Resources Manager</li>
                <li>Doing the medical insurance application for the new employees</li>
                <li>Reviewing, updating, and maintaining proper filing such as employees’ medical insurance policies</li>
                <li>Preparing and forwarding emails to all the employees</li>
                <li>Attending and understanding employee’s grievances in their work engagement level and implementing corrective measures for them</li>
                <li>Planning of company events or activities on occasions by management’s approval</li>
                <li>Organizing training sessions or trainings for employees ensuring they are fully equipped to be able to perform their duties.</li>
                <li>Promoting a positive and open work environment where employees feel comfortable speaking up about issues</li>
                <li>Displaying enough knowledge about the UAE’S overall pertinent labor laws</li>
            </ul>
            <br />
            <a href="mailto: careers@amcaauditing.com">
                <button class="btn btnTheme mr0" disabled>Apply for this position</button>
            </a>
            @*Send us your CV <strong class="linkingText"><a href="mailto: careers@amcaauditing.com">careers@amcaauditing.com</a></strong>*@
        </div>
    </div>
</div>
<div class="row spaceJob careers" id="OfficeBoy">
    <div class="container">
        <div class="col-md-12">
            <hr />
            <h2><strong>Office Boy</strong></h2>
            <p><strong>We are urgently looking for an experienced Office Boy.</strong></p>
        </div>
        <div class="col-md-12 jobDesc">
            <h4 class="subHeading"><strong>Job Description:</strong></h4>
            <ul>
                <li>Reporting delivery</li>
                <li>Purchasing and maintaining pantry items.</li>
                <li>Collecting of cheque(s)</li>
                <li>Cleaning the office including the bathroom, and the balcony in the morning.</li>
                <li>Cleaning the office furniture workstation, also cleaning the doors and the floor.</li>
                <li>Cleaning the balcony, bathroom, and pantry in afternoon.</li>
                <li>Maintaining office clean</li>
                <li>Cleaning the glasses.</li>
                <li>Cleaning the utensils.</li>
                <li>Scanning the documents and old blue files. </li>
                <li>Arranging blue files for file opening.</li>
                <li>Keeping stationary items. </li>
                <li>Searching and maintaining the files.</li>
                <li>Stamping reports ready for delivery.</li>
                <li>Doing decorations for birthday celebrations.</li>
                <li>Coordinating with carpenter, security guard and water supplier.</li>
                <li>Taking care of old company documents like employee’s file, client’s documents, and files.</li>
                <li>Assisting the clients who arrives in the office. </li>
                <li>Making coffee for the clients.</li>
                <li>Taking care of misuse or excess consumption of office belongings like stationery items, coffee, tea and others.</li>
                <li>Pasting the stickers on blue files and on doors wherever necessary.</li>
                <li>Taking care of Parking Card.</li>
                <li>Purchasing foods for Staff (Rare).</li>
                <li>Purchasing the IT Stuff.</li>
                <li>Recharging the Salik Card/Metro Card.</li>
            </ul>
            <br />
            <a href="javascript:void(0)">
                <button class="btn btnTheme mr0" disabled>Apply for this position</button>
            </a>
        </div>
    </div>
</div>
<div class="row spaceJob careers" id="ContentWriter">
    <div class="container">
        <div class="col-md-12">
            <hr />
            <h2><strong>Content Writer</strong></h2>
            <p><strong>We are looking for a talented Content Writer to join our team.</strong></p>
        </div>
        <div class="col-md-12 jobDesc">
            <h4 class="subHeading"><strong>Job Description:</strong></h4>
            <ul>
                <li>Writing clear marketing copy to promote our services</li>
                <li>Preparing well-structured drafts using Content Management Systems</li>
                <li>Performing proofreading and editing blog posts before publication</li>
                <li>Coordinating with marketing and design teams to illustrate articles</li>
                <li>Using SEO guidelines to increase web traffic</li>
                <li>Ensuring all-around consistency (style, fonts, images and tone)</li>
                <li>Updating website content as needed</li>
                <li>Evaluating analytics to adjust content as needed</li>
                <li>Conducting in-depth research on industry-related topics in order to develop original content.</li>
                <li>Developing content for blogs, articles, product descriptions, social media, and the company website</li>
                <li>Editing and polishing existing content to improve readability</li>
                <li>Creating compelling headlines and body copy that will capture the attention of the target audience</li>
                <li>Utilizing the industry best practices and familiarity with the organization's mission to inspire ideas and content</li>
                <li>Developing related content for multiple platforms, such as websites, email marketing, product descriptions, videos, and blogs</li>
                <li>Communicating and cooperating with web publishers</li>
                <li>Ensuring timely delivery of all materials</li>
            </ul>
            <br />
            <a href="javascript:void(0)">
                <button class="btn btnTheme mr0" disabled>Apply for this position</button>
            </a>
        </div>
    </div>
</div>
<div class="row spaceJob careers" id="ItCoordinator">
    <div class="container">
        <div class="col-md-12">
            <hr />
            <h2><strong>IT Coordinator</strong></h2>
            <p><strong>We are looking for a talented IT Coordinator to join our team.</strong></p>
        </div>
        <div class="col-md-12 jobDesc">
            <h4 class="subHeading"><strong>Job Description:</strong></h4>
            <h4 class="subHeading"><strong>Graphics Designing</strong></h4>
            <ul>
                <li>Designing a Pamphlet</li>
                <li>Preparing a WhatsApp graphics for marketing </li>
                <li>Illustrating concept by designing rough layout of art and copy regarding arrangement, size, type size and style, and related aesthetic concepts.</li>
                <li>Obtaining approval of concept by submitting rough layout for approval.</li>
                <li>Preparing a final copy and art by operating typesetting, printing, and similar equipment; and purchasing from vendors.</li>
                <li>Preparing a final layout by marking and pasting up finished copy and art.</li>
                <li>Contributing to team effort by accomplishing related results as needed.</li>
            </ul>
            <h4 class="subHeading"><strong>Web Designing</strong></h4>
            <ul>
                <li>Preparing a Newsletter</li>
                <li>Checking the websites regularly and updating necessary changes if needed.</li>
                <li>Designing engaging and responsive landing pages</li>
                <li>Integrating CMS programs and data feeds into websites</li>
                <li>Optimizing sites for maximum speed and scalability</li>
                <li>Conducting website testing</li>
                <li>Ensuring website function and stability across devices i.e. desktop, mobile, tablet</li>
                <li>Working with marketing and research teams to incorporate brand elements and relevant market research findings into website</li>
                <li>Writing and editing content</li>
                <li>Designing webpage layout</li>
                <li>Determining technical requirements</li>
                <li>Updating websites</li>
                <li>Creating back up files</li>
                <li>Solving code problems</li>
                <li>Webpage scripting</li>
                <li>Programming</li>
                <li>Digital imaging</li>
                <li>Multimedia design</li>
            </ul>
            <h4 class="subHeading"><strong>Development</strong></h4>
            <ul>
                <li>Developing and implementing databases, data collection systems, data analytics and other strategies that optimize statistical efficiency and quality</li>
                <li>Preparing local database then update on live database for Our company portal</li>
                <li>Adding new functionality in our portal software</li>
                <li>Modifying some existing functionality as per management decision</li>
                <li>Writing and implementing efficient code</li>
                <li>Developing quality assurance procedures</li>
                <li>Maintaining and upgrading existing systems </li>
                <li>Producing clean, efficient code based on specifications</li>
                <li>Verifying and deploying programs and systems</li>
                <li>Troubleshooting, debugging, and upgrading existing software</li>
                <li>Gathering and evaluating user feedback</li>
                <li>Creating technical documentation for reference and reporting</li>
            </ul>
            <h4 class="subHeading"><strong>IT Support</strong></h4>
            <ul>
                <li>Identifying, analyzing, and interpreting trends or patterns in complex data sets</li>
                <li>Working with management to prioritize business and information needs</li>
                <li>Updating the Microsoft account for the employees like Ms. Word, Ms. Excel Outlook etc.</li>
                <li>Handling queries coming from the web on help desk</li>
                <li>Making backup system for all the accounting and auditing files for our clients and for our company as well</li>
                <li>Maintaining the punching system for attendance purposes</li>
                <li>Interpreting data, analyzing results using statistical techniques and providing ongoing reports</li>
                <li>Maintaining the company data base</li>
                <li>Taking care of network connections and servers on cloud computing </li>
                <li>Updating all system software and checking system’s virus and memory status. </li>
                <li>Checking the system’s passwords.</li>
                <li>Configuring emails for all employees and for new employees</li>
                <li>Installing and configuring computer hardware, software, systems, networks, printers, and scanners</li>
                <li>Monitoring and maintaining computer systems and networks</li>
                <li>Responding in a timely manner to service issues and requests</li>
                <li>Providing technical support across the company (this may be in person or over the phone)</li>
                <li>Configuring emails for all employees and for new employees</li>
                <li>Repairing and replacing equipment as necessary</li>
                <li>Installing and configuring computer hardware operating systems and applications</li>
                <li>Communicating with the staff through a series of actions, either face-to-face or over the phone, to help in setting up the systems or resolve issues</li>
                <li>Troubleshooting system and network problems, diagnosing, and solving hardware or software faults</li>
                <li>Replacing parts as required</li>
                <li>Providing support, including procedural documentation and relevant reports</li>
                <li>Following diagrams and written instructions to repair a fault or set up a system</li>
                <li>Support the roll-out of new applications</li>
                <li>Setting up new user’s accounts and profiles and dealing with password issues</li>
                <li>Responding within agreed time limits to call-outs</li>
                <li>Conductingt electrical safety checks on computer equipment.</li>
                <li>Working on photoshop</li>
                <li>Making backup system for all the accounting and auditing files for both the clients and the company</li>
                <li>Defining new process improvement opportunities</li>
            </ul>
            <br />
            <a href="javascript:void(0)">
                <button class="btn btnTheme mr0" disabled>Apply for this position</button>
            </a>
        </div>
    </div>
</div>


