@{
    ViewBag.Title = "Privacy Policy | Business Setup Dubai";
    ViewBag.PageTitle = "Privacy Policy";
    ViewBag.Keyword = "amca privacy policy";
    ViewBag.Description = "AMCA values your privacy. This privacy policy (“Privacy Policy”) applies to www.amca.ae (“Site”) and explains how we collect, use, and disclose the information we collect from you via the Site.";
}

<div class="row otherBanner aboutUs">
    <div class="container">
        <div class="col-md-12">
            <div class="captionBanner">
                <h1 class="servicesH">@ViewBag.PageTitle</h1>
                <ul>
                    <li><a href="@Url.Action("Index", "Page")">Home</a> </li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
        </div> <!-- end of col-md-12 -->
    </div>
</div> <!-- end of row -->
<div class="row space section1 disclaimer">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 spaceD">
                    <p>AMCA <!--(in short “AMCA,” and collectively “we,” “us,” or “our”)-->values your privacy. This privacy policy (“Privacy Policy”) applies to www.amca.ae (“Site”) and explains how we collect, use, and disclose the information we collect from you via the Site. By using the Site, you agree that you have read, understand, and agree to this Privacy Policy, which incorporates our Terms of Use, available here. Please note that certain sections of the Site may have additional or different privacy policies or terms of use applicable to those sections of the Site. Any such additional or different terms will be posted on the applicable section of the Site. If you have any questions regarding this Privacy Policy, please contact us at: info@amca.ae</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 spaceD">
                    <h2><strong>Information We Collect</strong></h2>
                    <h4><strong>Automatic Collection</strong></h4>
                    <p>When you visit the Site, we may automatically collect information about your visit to our Site, including your IP address, information about the website from which you came to our Site, click stream data (data regarding the sections of the Site you click on, how long you spend on a page, etc.), information about your general geographic location, and information regarding the web browser you are using to access the Site.</p>
                    <h4><strong>Information You Provide</strong></h4>
                    <p>We also collect information that you provide to us, for example, when you create an account to apply for a job on the Site, when you subscribe to receive communications from us, when you submit information in connection with contacting us, or when you otherwise provide or post information via the Site. This information may include your name, email address, address, phone number, and other information.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 spaceD">
                    <h2><strong>How We Use and Disclose The Information We Collect</strong></h2>
                    <h4><strong>Automatic Collection</strong></h4>
                    <p>We use the information we automatically collect when you visit our Site to, among other things:</p>
                    <ul>
                        <li>better understand how users access our Site</li>
                        <li>analyze user trends</li>
                        <li>improve our Site</li>
                        <li>display employment advertisements that may be of interest to you.</li>
                    </ul>
                    <p>We may use third parties to collect this information on our behalf and provide us with analytics related to this information, as set forth above. These third parties are prohibited from using this information other than for the purpose of providing us with the analytical information discussed above.</p>
                    <h4><strong>Information You Provide</strong></h4>
                    <p>If you provide information to us, we will only use and disclose that information to fulfill the purpose for which it was supplied to us. For example,</p>
                    <ul>
                        <li>when you create an account to apply for a job on the Site, we use the information you provide for processioning your application and to contact you about jobs you have applied for (for more information regarding the job application process please see our Terms of Use);</li>
                        <li>when you provide us with information in connection with subscribing to communications from us, we use this information to alert you to company news and other company information; and</li>
                        <li>when you provide us information in connection with contacting us, we use this information to reply to your inquiry.</li>
                    </ul>
                    <p>We occasionally hire third parties to provide limited services on our behalf with respect to the information you provide to us, including, for example, processing job applications. We will only provide those third parties the information they need to deliver the service on our behalf, and those third parties are prohibited from using that information for any other purpose.</p>
                    <h4><strong>Other Disclosures and Do-Not-Track</strong></h4>
                    <p>We may also need to use or disclose the information we collect when required by law or to enforce and protect our rights or property, this Privacy Policy, or the Terms of Use. We do not sell any information you provide to us to third parties.</p>
                    <p>Given the nature or our data collection, use, and disclosure activities discussed above and below, we do not respond to do-not-track requests.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 spaceD">
                    <h2><strong>Cookies And Other Tracking Mechanisms</strong></h2>
                    <p>Like most websites, we may use cookies, web beacons, and other technologies to track user activity and collect Site data.</p>
                    <p>Cookies are small pieces of data which are sent by a website to your web browser and are stored on your computer. We use cookies for statistical tracking purposes regarding your activities on the Site and to improve our Site. Your browser can be configured to accept cookies, request your specific acceptance of a cookie, or disable cookies entirely. You will still be able to fully navigate our Site if you choose to refuse or disable cookies.</p>
                    <p>Web beacons are object images that are embedded in a web site or email. We use web beacons to optimize your experience while on the Site.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 spaceD">
                    <h2><strong>User Content</strong></h2>
                    <p>We may allow users to post information on our Site, such as comments to blogs and other items posted to our Site. Please see our Terms of Use for more detail. Any information that you post to our Site becomes publicly available and may be viewable by any visitors to our Site. By posting content to our Site, you agree that such posting is subject to our Terms of Use.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 spaceD">
                    <h2><strong>Third-Party Linking</strong></h2>
                    <p>Our Site may contain links to other websites, including various social media websites. We do not regularly review materials on websites linked to from this Site and do not necessarily endorse the materials appearing on any websites linked to from this Site. We assume no responsibility for the content or the policies and practices of such other websites. We encourage you to be aware when you leave our Site and to read the privacy policies of any other website that you visit.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 spaceD">
                    <h2><strong>Email Communications</strong></h2>
                    <p>If you subscribe to receive email communications from us, we may send you email communications to alert you to company news and provide you with other company information. In addition, if you sign up to receive information regarding job openings that may be of interest to you, we may send you email communications based on the preferences you specified in connection with signing-up for such communications. We may also contact you regarding any jobs for which you applied, even if you did not sign-up to receive ongoing communications from us. If at any time you would like to stop receiving these email communications, you can follow the opt-out procedures described in such email.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 spaceD">
                    <h2><strong>Security</strong></h2>
                    <p>We follow generally accepted industry standards to protect the information we collect. That said, no data security measures are 100% secure. Therefore, while we implement reasonable physical, technical, and administrative measures to protect the information we collect, we cannot guarantee its absolute security.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 spaceD">
                    <h2><strong>Changes To This Privacy Policy</strong></h2>
                    <p>We have the right to change this Privacy Policy without prior notification to you. We suggest you review this Privacy Policy from time to time.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 spaceD">
                    <h2><strong>Children’s Privacy</strong></h2>
                    <p>The Site is not directed toward children under the age of 13, and children under the age of 13 are not permitted to submit any information to us via the Site.</p>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-12 spaceD">
                    <h2><strong>Choice Of Law</strong></h2>
                    <p>These Terms of use shall be governed by the laws of the New Delhi, India</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 spaceD">
                    <h2><strong>Contact</strong></h2>
                    <p>If you have any questions regarding this Privacy Policy, please contact us at: <a href="mailTo:info@amca.ae">info@amca.ae</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>

