
@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_ProposalLayout.cshtml";
}

<div class="row">
    <div class="msgthankyou">
        <h1>Thank You!</h1>
        <p>for choosing <strong>AMCA</strong></p>
        <p>We are doing our best to be as responsive as possible and our experts will get back to you soon.</p>
        <a href="@Url.Action("Index", "Page")">
            <button class="btn btnTheme">Go To Homepage</button>
        </a>
    </div>
</div>


